* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --title-color: #181818;
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.479),
      rgba(65, 65, 65, 0.767)
    ),
    url(./img/map-background.jpg) no-repeat center center/cover;
  height: 100vh;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  color: var(--title-color);
  letter-spacing: 0.1em;
  margin: 0 auto;
}
.title h1 {
  animation: 2s slideIn-left;
  padding-right: 20px;
}
.circle-active {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
    15deg,
    rgb(36, 13, 11) 5%,
    rgb(97, 0, 18) 45%,
    rgb(83, 5, 5) 88%
  );

  border-radius: 100px;
  border: 1px solid #5c5f5f;
  animation: fadeIn ease 4s;
}
.circle-active:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 45px;
  background-color: #cdddcd;
  animation: pulse-ring 2.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.circle-inactive {
  width: 60px;
  height: 60px;
  z-index: -1;
}

.cards {
  display: grid;
  height: 80vh;
  overflow: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.9em;
  width: 75%;
  margin: 0 auto;
}

.card {
  max-width: 100%;
  cursor: pointer;
  background: transparent;
  height: 350px;
  perspective: 1000px;
}
.card li {
  list-style: none;
  padding-bottom: 10px;
}
.card h2 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.card-front img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  background-color: #2e2e2e;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (max-width: 850px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
