* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #091b2a;
  --text-color: #cdd1d4;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
}
.title {
  display: flex;
  justify-content: center;
  padding: 4em 0;
  color: var(--text-color);
  letter-spacing: 0.1em;
}
.title h1 {
  animation: 2s slidein-left;
}

@keyframes slidein-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
